/* general styles */

:root {
    /* --default-color: #9FD9B4; */
    --default-color: green;
    --primary-color: #FCD385;
    --error-color: #914146;
}

.list-checkmarks {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
}

.list-checkmarks i {
    font-weight: bold;
    font-style: normal;
    font-size: 26px;
    color: var(--default-color);
    display: inline-block;
    vertical-align: middle;
}

.list-checkmarks.sun i {
    color: yellowgreen;
}

.fdc-ranking {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
    padding: 2px 8px 0;
    margin-top: -4px;
    margin-bottom: 8px;
}

.fdc-ranking b {
    font-size: 3em;
    font-weight: 400;
}

.fdc-ranking span {
    font-size: 0.8em;
}

.fdc-info {
    text-align: right;
}


/* describe carbon emission */

.carbon-emission-mark {
    margin: 10px 0 0 0;
}

.carbon-emission-mark.good {
    color: var(--default-color);
}

.carbon-emission-mark.bad {
    color: var(--error-color);
}

.carbon-emission-mark span {
    display: inline-block;
    vertical-align: middle;
}

.carbon-emission-mark .icon {
    font-weight: bold;
    font-size: 26px;
    margin: 0 2px 0 0;
}

.carbon-emission-mark .text {
    font-weight: bold;
    font-weight: 16px;
}

.scale,
.scale li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}