/* general styles */

:root {
    /* --default-color: #9FD9B4; */
    --default-color: green;
    --primary-color: #FCD385;
    --error-color: #914146;
}

.list-checkmarks {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
}

.list-checkmarks i {
    font-weight: bold;
    font-style: normal;
    font-size: 26px;
    color: var(--default-color);
    display: inline-block;
    vertical-align: middle;
}

.list-checkmarks.sun i {
    color: yellowgreen;
}

.fdc-ranking {
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
    padding: 2px 8px 0;
    margin-top: 4px;
    margin-bottom: 8px !important;
    display: block;
    padding: 0 !important;
    color: #000;
}
.fdc-ranking .link {
    color: #f60;
    text-decoration: underline;
    font-size: 14px;

}
.fdc-ranking b {
    font-size: 3em;
    font-weight: 400;
}
.fdc-ranking span {
    font-size: 0.8em;
}
.fdc-info {
    text-align: right;
}
.fdc-ranking .rank {
    font-weight: bold;
    font-size: 24px;
    padding: 0;
    margin: 0;
}


/* describe carbon emission */

.carbon-emission-mark {
    margin: 10px 0 0 0;
}

.carbon-emission-mark.good {
    color: var(--default-color);
}

.carbon-emission-mark.bad {
    color: var(--error-color);
}

.carbon-emission-mark span {
    display: inline-block;
    vertical-align: middle;
}

.carbon-emission-mark .icon {
    font-weight: bold;
    font-size: 26px;
    margin: 0 2px 0 0;
}

.carbon-emission-mark .text {
    font-weight: bold;
    font-weight: 16px;
}

/* food CO2 scale */
.scale, 
.scale li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.scale {
    width: 80%;
    margin: 10px 0 25px 0;
    border-radius: 4px;
    white-space: nowrap;
}
.scale li.item {
    height: 20px;
    width: 33%;
    min-width: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}
.scale li:first-child {
    background-color: var(--default-color);
}
.scale li:nth-child(2) {
    background-color: var(--primary-color);
}
.scale li:last-child {
    background-color: var(--error-color);
}
.scale li:before {
    content: '';
    position: absolute;
    border-left: 1px solid #ccc;
    height: 1.5em;
    top: 0px;
    right: 0;
}
.scale li:after {
    position: absolute;
    top: 34px;
    margin-left: -15px;
    color: #000;
    font-weight: bold;
    font-size: 22px;
}
.scale li:first-child:after {
    content: 'A (0 - 10)';
}
.scale li:nth-child(2):after {
    content: 'B (10 - 25)';
}
.scale li:last-child:after {
    content: 'C (25+)';
}
/* .scale li:last-child:before {
    /* top: 0px; */

    content: '40 CO2 Kilos';
    font-size: 14px;
    width: 100px;
    margin-left: -50px;
} */