.fdc-ranking {
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
    padding: 2px 8px 0;
    margin-top: -4px;
    margin-bottom: 8px;
}

.fdc-ranking b {
    font-size: 3em;
    font-weight: 400;
}

.fdc-ranking span {
    font-size: 0.8em;
}