.popup-content {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.popup-content .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    /* align-items: flex-start; */

    align-items: center;
    justify-content: space-between;

    width: auto;
    padding: 0;
    margin: 0;
}

.popup-content .big-item {
    flex: 2 0 0;
   
}
.popup-content .small-item {
    flex: 1 0 0;
}

.popup-content .item {
    min-width: 100px;
}

.popup-content .product-title {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px 0;
}

.popup-content .food-explanation {
    border-left: 1px solid #ccc;
    padding: 0 0 0 15px;
}

.popup-content .food-explanation .title {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
}
