.popup-content {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.tingle-modal-box__content {
    padding: 20px 20px 0 20px;
    border-radius: 4px;
}
.tingle-modal-box__footer {
    display: none;
}
.popup-content .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    /* align-items: flex-start; */

    align-items: top;
    justify-content: space-between;

    width: auto;
    padding: 0;
    margin: 0;
}

.popup-content .big-item {
    flex: 2 0 0;
}
.popup-content .small-item {
    flex: 1 0 0;
}
.popup-content .item {
    min-width: 100px;
}

.popup-content .product-title {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px 0;
}

.popup-content .food-explanation {
    border-left: 1px solid #ccc;
    padding: 0 0 0 25px;
}

.popup-content .food-explanation .title {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.popup-content .food-explanation .sub-title {
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.popup-content .carbon-emission {
    margin: 1px 0 0 0;
}
.carbon-emission-mark {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px 0 0;
}
.popup-content .button-default {
    background-color: green;
    color: #fff;
    border-radius: 4px;
    padding: 4px 10px;
    
}